MP_ACCESS_TOKEN=PEGA_AQUI_TU_ACCESS_TOKEN_DE_PRUEBA
MP_PUBLIC_KEY=PEGA_AQUI_TU_PUBLIC_KEY_DE_PRUEBA
FRONTEND_URL=http://localhost:4200
# Para retorno automatico de Checkout Pro usa una URL HTTPS publica, por ejemplo:
# FRONTEND_URL=https://TU_URL.tunnelmole.net
